* {
  font-family: "微软雅黑";
  font-size: 15px;
}
.content {
  padding: 40px;
  width: 100%;
  background: #f5f7f9;
}
.nav {
  height: 800px;
  background: #ffffff;
}
.formWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;
}
